@charset "UTF-8";
body {
  background-color: #f1f5f8;
  font-family: "Roboto", serif;
}

.logo {
  display: flex;
  justify-content: center;
}
.logo img {
  width: 200px;
  height: auto;
}
.logo .city-from {
  padding-top: 70px;
}
.logo .city-from input {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 10px;
  height: 50%;
  text-align: center;
}
.logo .city-to {
  padding-top: 70px;
}
.logo .city-to input {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 10px;
  height: 50%;
  text-align: center;
}

.content {
  display: flex;
  margin: 0 5%;
}
.content .menu {
  background-color: white;
  display: inline-block;
  margin: 0 5%;
  border-radius: 5px;
  padding-right: 30px;
  padding-left: 15px;
  padding-bottom: 30px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  width: 25%;
  height: fit-content;
}
.content .menu header {
  font-weight: bold;
  color: #6c6c6c;
  padding: 20px 10px;
}
.content .menu .condition {
  padding: 15px 20px;
  background-color: #ffffff;
  transition: background-color 900ms;
}
.content .menu .condition:hover {
  background-color: #54ade4;
}
.content .main {
  display: inline;
  width: 100%;
}
.content .main .sort {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}
.content .main .races {
  width: 100%;
  height: 100%;
  display: block;
}
.content .main .races .not-found {
  margin-top: 20%;
  text-align: center;
  color: #6c6c6c;
  display: none;
}
.content .main .races .race {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.content .main .races .race .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content .main .races .race .head h1 {
  color: #54ade4;
  font-size: 24px;
  margin: 0;
}
.content .main .races .race .head img {
  width: auto;
  height: 50px;
}
.content .main .races .race .race-info {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.content .main .races .race .race-info .route,
.content .main .races .race .race-info .time,
.content .main .races .race .race-info .transfer {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.content .main .races .race .race-info .route label,
.content .main .races .race .race-info .time label,
.content .main .races .race .race-info .transfer label {
  color: #6c6c6c;
  font-size: 17px;
  margin-bottom: 8px;
  text-align: center;
}
.content .main .races .race .race-info .route label:first-child,
.content .main .races .race .race-info .time label:first-child,
.content .main .races .race .race-info .transfer label:first-child {
  font-weight: bold;
  color: black;
  margin-bottom: 10px;
  text-align: center;
}

.btn {
  width: 50%;
  height: 50px;
  border: none;
}
.btn button {
  color: black;
  background-color: white;
  border-color: #e6e6e6;
  border-style: solid;
  width: 100%;
  height: 100%;
  padding: 10px;
  transition: background-color 500ms, color 500ms;
}
.btn button:hover {
  color: white;
  background-color: #54ade4;
}

#cheapest {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

#fastest {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

/* Адаптивность для 1920px */
@media (max-width: 1920px) {
  .logo, .content {
    max-width: 1400px;
    margin: 0 auto;
  }
}
/* Адаптивность для 1366px */
@media (max-width: 1366px) {
  .logo input[type=search] {
    width: 250px;
  }
  .races .race .route label {
    font-size: 14px;
  }
}
/* Адаптивность для 1024px */
@media (max-width: 1024px) {
  .menu {
    display: none;
  }
  .content {
    flex-direction: column;
    padding: 20px;
  }
  .sort {
    justify-content: center;
  }
}
/* Адаптивность для 768px */
@media (max-width: 768px) {
  .logo {
    flex-direction: column;
    align-items: center;
  }
  .logo input[type=search] {
    width: 200px;
    margin: 10px 0;
  }
}
/* Адаптивность для 320px */
@media (max-width: 320px) {
  body {
    font-size: 14px;
  }
  .races .race .head h1 {
    font-size: 18px;
  }
  .races .race .route label,
  .races .race .time label,
  .races .race .transfer label {
    font-size: 12px;
  }
}

/*# sourceMappingURL=styles.css.map */
